@import "tailwindcss";
@plugin "daisyui" {
    themes:
        wireframe --default,
        light,
        dark;
}
@plugin "daisyui/theme" {
    name: "wireframe";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #2e2e2e;
    --color-base-200: #3d3d3d;
    --color-base-300: #4f4e4e;
    --color-base-content: #d6d6d6;
    --color-primary: #e14775;
    --color-primary-content: #fefaf9;
    --color-secondary: #e16032;
    --color-secondary-content: #fefaf9;
    --color-accent: #cc7a0a;
    --color-accent-content: #fefaf9;
    --color-neutral: #403e41;
    --color-neutral-content: #fefaf9;
    --color-info: #1c8ca8;
    --color-info-content: #fefaf9;
    --color-success: #269d69;
    --color-success-content: #fefaf9;
    --color-warning: #cc7a0a;
    --color-warning-content: #fefaf9;
    --color-error: #e14775;
    --color-error-content: #fefaf9;
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@font-face {
    font-family: "Momentz";
    src: local("Momentz"), url("./assets/fonts/Momentz.ttf");
}
